@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  mark {
    @apply bg-highlight text-whiteSmoke;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

svg {
  width: 1rem;
}

.Toastify__close-button {
  color: #fff;
}

.Toastify__toast {
  @apply bg-nero1 font-lexend text-white;
}

.Toastify__toast-body {
  margin-inline: 0.5rem;
}
